<html>
<header>
  <img src="https://images.hive.blog/p/5s4dzRwnVbzGY5ssnCE4wXzkeAEXyVtgk1ApQTwHMTp6y5PvEo1yennB2cbobx7rTCExGLAg5TZkfuYiJzNDkeBVgaGKwwSjUvKigsDsucVmSg5SY9aFMvQQAEvp9FkcXXNkWocev5618WusKFtp6cWphkNzvHEfAjuZQia?format=match&mode=fit" class="profile-picture">
<h1>donde estan las rubias</h1>
</header>
<body>
   
  <div class="bio">

    <h2><b>historia</b></h2>
    <p>Después de una misión fallida, los agentes del FBI Kevin Copeland y Marcus Copeland caen en desgracia en la agencia. Su supervisor, Elliott Gordon, les da a los dos agentes la última oportunidad de permanecer en el FBI dándoles una importante misión: proteger a las multimillonarias herederas de la línea de cruceros Wilson, Brittany y Tiffany Wilson, que están llegando a la ciudad para un concurso de belleza en los Hamptons y están siendo víctimas de amenazas de secuestro. Tras de un accidente automovilístico que marca sus rostros, las herederas se niegan a salir del hotel, así que Kevin y Marcus se disfrazan para hacerse pasar por las hermanas y salvar sus trabajos. ¿… y dónde están las rubias? pondrá a los agentes manteniendo la farsa el tiempo suficiente para atraer al secuestrador, pero pronto descubrirán que engañar a todos los involucrados será el trabajo de sus vidas.</p>
  
  
  </div>

<div class="bio">
  <h2> <b>porque te gusta esta pelicula</b></h2>
  <ul>
    <li> divertida</li>
    <li>buena calidad</li>
    <li>contenido diferente</li>
  </ul>
</div>

<div class="bio">
  <h2><b>otras peliculas y series similares</b></h2>
  <div class="comedia"> 
 <h3>pelicula divertida</h3>
  </div>
  <div class="comedia"> 
    <h3>pelicula de drama</h3>
  </div>
</div>

</body>
</html>