body{ 
    font-family: 'Arial', sans-serif;
    background-color: #201f1f;
    border-color: #0202d9;
    

}
header{
    text-align: center;
    color: #f2e9e9e8;
    background-color: dimgray;
}
.profile-picture{
    border-radius: 50%;
    width: 20%;
    display: block;
    margin: auto;
    border-color: rgb(7, 7, 7);
}

.comedia:hover {
    background-color: #f52b15;
    color: beige;
    cursor: pointer;

}
.bio{
    width: 70%;
    height: auto;
    background-color: white;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border:2px inset purple;

}
.comedia{
    background-color: #5d5c5c;
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border:2px inset purple;
}